@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('assets/neue-haas-grotesk/NeueHaasDisplayBold.ttf');
html,
body {
  height: 100%;
}

body {
  align-items: center;
  padding-bottom: 40px;
  background-color: #161a21;
}

h1,
.btn_login {
  font-family: 'Poppins',sans-serif;
}

main{
  margin-top: 5%;
}
.form-signin {
/*  max-width: 500px;*/
  padding: 15px;
  background-color: #14151b;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}


.form-signin input[type="password"] {
  margin-bottom: 10px;
  /*border-top-left-radius: 0;
  border-top-right-radius: 0;*/
}

.icon {
  border: 2px solid #9e9e9e;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 5px;
}

.icon i {
  line-height: 28px;
  color: #9e9e9e;
}

/* img {
  padding: 15px;
} */

input[type="checkbox"] {
  background-color: transparent;
}

@media (min-width: 991.98px) {
  .offcanvas-body ul li a {
    color: #dbdbdc !important;
  }
}
.navbar-toggler:focus{
  box-shadow: none;
}

/*dribble*/
.form-sub {
  display: inline-block;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    padding: 10px 16px;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
    border: none;
    border-radius: 8px;
    outline: none;
    background: #ea4c89;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.form-sub:hover, .form-sub:focus, a.form-sub:hover, a.form-sub:focus {
    background: #f082ac;
}
.form-sub, a.form-sub {
    color: #fff;
}
.select-box-choice:before {
  top: 18px !important;
  right: 18px !important;
}

input[type='text'],input[type='number'],input[type='search'],input[type='password'],input[type='email'],input[type='url'],input[type='tel'], #mobilenoprefix {
  font-size:16px;
  border: 1px solid transparent !important;
  box-shadow:none;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 28px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 10px 16px;
  -webkit-transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, -webkit-box-shadow 200ms ease;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease;
  transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease, -webkit-box-shadow 200ms ease;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input:hover[type='text'], input:hover[type='number'], input:hover[type='search'], input:hover[type='password'], input:hover[type='email'], input:hover[type='url'], input:hover[type='tel'], textarea:hover,  #mobilenoprefix:hover {
    border-color: rgba(0,0,0,0.1) !important; 
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 4px rgba(234,76,137,0.1) !important;
    box-shadow: 0 0 0 4px rgba(234,76,137,0.1) !important;
}
input:active[type='text'], input:active[type='number'], input:active[type='search'], input:active[type='password'], input:active[type='email'], input:active[type='url'], input:active[type='tel'], textarea:active,  #mobilenoprefix:active {
    border-color: #e7e7e9 !important;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}
input:focus[type='text'], input:focus[type='number'], input:focus[type='search'], input:focus[type='password'], input:focus[type='email'], input:focus[type='url'], input:focus[type='tel'], textarea:focus, #mobilenoprefix:focus {
    border-color: rgba(234,76,137,0.4) !important;
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 4px rgba(234,76,137,0.1);
    box-shadow: 0 0 0 4px rgba(234,76,137,0.1) !important;
}
.label {
  display: block;
  margin: 14px 0 4px;
  color: #0d0c22;
  font: bold 15px/24px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input:hover[type='text'], input:hover[type='number'], input:hover[type='search'], input:hover[type='password'], input:hover[type='email'], input:hover[type='url'], input:hover[type='tel'], textarea:hover, select:hover {
    border-color: rgba(0,0,0,0.1);
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 4px rgba(234,76,137,0.1);
    box-shadow: 0 0 0 4px rgba(234,76,137,0.1);
}
#mobilenoprefix {
    padding: 5px 25px;
}
input.button{
  display:block;
  width:100%;
  margin-top:22px;
}
input.button:hover,input.button:focus{
  background-color:#f082ac;
  text-decoration:none;
}input.button:active,a.form-sub:active{
  background-color:#bb3d6e;
  text-decoration:none;
}
input[type='checkbox'].form-check-input {
  border-radius:0px;
  height: 20px;
  width: 20px;
} 
input[type='checkbox'].form-check-input + label {
  margin: 0;
  color: #6e6d7a;
  font: normal 14px/18px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.recaptcha-terms {
  max-width: 300px;
  color: #9e9ea7;
  font: normal 11px/16px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.recaptcha-terms a, .user_agree_to_terms a, input[type='checkbox'].form-check-input + label a, .span-label a {
  color: #4f3cc9;
  text-decoration: none;
}
.recaptcha-terms a:hover, .user_agree_to_terms a:hover, input[type='checkbox'].form-check-input + label a:hover, .span-label a:hover {
  color: var(--primaryColor);
  text-decoration: underline;
}
.signup_heading {
  margin-bottom: 26px;
  font: bold 24px/29px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-signin .span-label {
  display: block;
  margin: 14px 0 4px;
  color: #0d0c22;
  font: bold 15px/24px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#errorExplanation {
  color: #ff5555;
}
#errorExplanation ul li {
  margin: 0 0 5px 20px;
  list-style: disc;
  line-height: 1;
}
.span-label a{
  position: relative;
  top: 6px;
  float: right;
  font-size: 14px;
  font-weight: normal;
}
@media (min-width: 768px) {
  input[type='text'],input[type='number'],input[type='search'],input[type='password'],input[type='email'],input[type='url'],input[type='tel'], textarea, #mobilenoprefix {
      font-size:14px;
  }
}
@media (min-width: 960px)
{
  input.button{
    max-width:200px;
  }
  .form-signin form {
    width: 40%;
  }
  .form-signin form.w-adj-form {
    width: 30%;
  }
}
@media (max-width:425px) {
  .form-signin form.w-adj-form, .form-signin form.w-25 {
    width: 100% !important;
  }
}
@media (min-width:425px) and (max-width:960px) {
  .form-signin form.w-adj-form, .form-signin form.w-25 {
    width: 50% !important;
  }
} 

@media (max-width:960px) {
  .full-width-mobile {
    width:100% !important;
  }
}
